.etra-logo-container {
  display: flex;
  flex-direction: column;

  &.moveUp {
    svg {
      animation: goUp $etra-move-duration linear forwards;

      .subtitle {
        animation: disappear $subtitle-etra-duration linear forwards;
      }
    }
  }

  &.moveDown {
    svg {
      transform: translateY(10px);
      z-index: 0;
      animation: goDown $etra-move-duration linear forwards;

      .subtitle {
        animation: appear $subtitle-etra-duration linear forwards;
      }
    }
  }

  &.top {
    @extend .etra-logo-container;
    svg {
      height: $etra-logo-top-size;
      transform: translateY($etra-logo-top-mt);
      z-index: 0;
      .subtitle {
        opacity: 0;
      }
    }
  }

  &.center {
    @extend .etra-logo-container;
    svg {
      height: $etra-logo-center-size;
      transform: translateY($etra-logo-center-mt);
    }
  }
}

@keyframes goDown {
  from {
    height: $etra-logo-top-size;
    transform: translateY($etra-logo-top-mt);
    z-index: 0;
  }

  to {
    height: $etra-logo-center-size;
    transform: translateY($etra-logo-center-mt);
    z-index: 100;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes goUp {
  from {
    height: $etra-logo-center-size;
    transform: translateY($etra-logo-center-mt);
    z-index: 100;
  }

  to {
    height: $etra-logo-top-size;
    transform: translateY($etra-logo-top-mt);
    z-index: 0;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
