@font-face {
   font-family: TheSansMono;
   src: url("./TheSansMono/TheSansMono-5-Regular.otf") format("opentype");
}
@font-face {
   font-family: TheSansMono;
   font-style: italic;
   src: url("./TheSansMono/TheSansMono-5-RegularIta.otf") format("opentype");
}

@font-face {
   font-family: TheSansMono;
   font-weight: bold;
   src: url("./TheSansMono/TheSansMono-7-Bold.otf") format("opentype");
}
