@use "variables.scss" as *;

.header-footer {
  // z-index: -50;
  @include full-page;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .footer {
    max-height: 60px;
  }

  .header {
    height: 70px;
  }

  .header,
  .footer {
    height: 7vh;
    display: flex;
    justify-content: center;

    ul {
      // margin: 16px 0;
      max-width: fit-content;
      flex: 1;
      flex-wrap: wrap;
      display: flex;
      list-style: none;
      padding: 0;
      flex-direction: row;

      li {
        padding: 0 10px;
        font-weight: 300;
        text-transform: lowercase;
        font-size: 1rem;
        text-shadow: $text-shadow;
        color: #ffffff;
        padding-bottom: 0.2rem;
        cursor: pointer;
      }
    }

    .dummy {
      cursor: pointer;
      flex: 0;
      transition: flex 3s;

      &.moveRight {
        flex: auto;
      }
    }
  }
}
