:root {
  font-family: "Gotham";
  font-size: 16px;

  --blue: #73a9bd;
  --yellow: #f6d07b;
  --blue-2: #9ed4ce;
  --yellow-2: #ce8d33;
  --grey: #9b9a99;
  --green: #869c7b;
  --orange: #8d4214;
  --pink: #f08b79;
}
@keyframes colorCycle {
  0% {
    background-color: var(--blue); /* Start with blue */
  }
  12.5% {
    background-color: var(--yellow); /* Transition to yellow */
  }
  25% {
    background-color: var(--blue-2); /* Transition to blue-2 */
  }
  37.5% {
    background-color: var(--yellow-2); /* Transition to yellow-2 */
  }
  50% {
    background-color: var(--grey); /* Transition to grey */
  }
  62.5% {
    background-color: var(--green); /* Transition to green */
  }
  75% {
    background-color: var(--orange); /* Transition to orange */
  }
  87.5% {
    background-color: var(--pink); /* Transition to pink */
  }
  100% {
    background-color: var(--blue); /* Back to blue for seamless looping */
  }
}
@font-face {
  font-family: "Gotham";
  src: url(./fonts/Gotham-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Gotham";
  src: url(./fonts/Gotham-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url(./fonts/Gotham-Book.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Gotham";
  src: url(./fonts/Gotham-LightItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url(./fonts/Gotham-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url(./fonts/Gotham-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  color: white;
  animation: colorCycle 100s infinite;
  margin: 0;
}

body {
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

main {
  height: 100%;
  width: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h6 {
  font-size: 0.8rem;
  margin: 0;
}

.logo-container {
  display: flex;
  max-width: 15rem;
}

.logo-container svg {
  height: 100%;
  width: 100%;
  animation: slideInFromBottom 1.5s ease-out forwards; /* 1.5s animation */
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
}

a#contact {
  text-decoration: none;
  color: var(--blue);
  background-color: white;
  padding: 0.8rem 4rem;
  animation: slideInFromBottom 1.5s ease-out forwards;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 13px;
  }

  header {
    justify-content: space-evenly;
  }
}
